body {
  background-color: #ffffff;
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  overflow: hidden;
  padding: 1em 1em 1em 1em;
  width: 100vw;
}

button {
  height: auto;
  width: 100%;
  padding: 1em 1em 1em 1em;
  font-weight: bold;
  border-radius: 6px;
  margin: 0 auto;
  box-sizing: border-box;
}

#action-area {
  background-color: #ff0000;
  box-sizing: border-box;
  height: 100%;
  margin: 0 auto;
  overflow: auto;
  width: 25%;
  padding: 1em 1em 1em 1em;
}

#location-area {
  box-sizing: border-box;
  background-color: #0000ff;
  height: auto;
  margin: 0 auto;
  width: 100%;
}

#fml-button {}

#pinned-location {
  height: auto;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

#issue-list-container {
  box-sizing: border-box;
  background-color: #00aaaa;
  height: auto;
  margin: 0 auto;
  width: 100%;
}

#issue-list{
  box-sizing: border-box;
  background-color: #aaaaaa;
  height: 8em;
  margin: 0 auto;
  overflow-y: scroll;
  width: 100%;
}

.issue {
  font-size: 1rem;
}

#submit-button {}

#map-area {
  background-color: #00ff00;
  border-radius: 5px;
  border-style: solid;
  border-width: thick;
  box-sizing: border-box;
  height: auto;
  margin: 1%;
  overflow: auto;
  padding: 1em 1em 1em 1em;
  width: 75%;
}

#map {
  border-radius: 4px;
  height:100%;
  width: 100%;
}
